.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background: url('https://wallpapercave.com/wp/wp7991751.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
input{
    height: 50px;
    border: solid white 2px;
    border-radius: 40px;
    color: black;
    background-color: white;
    font-size: 18px;
    padding-left: 20px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.weather-icon{
    padding: 30px 20px;
    width: 150px;
    margin: 40px 0px;
}
.temperature{
    color: white;
   font-size: 80px;
   line-height: 1;
}
.location{
    color: white;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.weather-icon{
    margin-top: -40px;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}